@import url('https://fonts.googleapis.com/css2?family=Poetsen%20One&family=Alegreya%20Sans&display=swap');
:root {
    --primary-color: #D1FAFF;
    --secondary-color: #9BD1E5;
    --accent1-color: #57A773;
    --accent2-color: #157145;

    --heading-font: 'Poetsen One', serif;
    --paragraph-font: 'Alegreya Sans', serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 5px;
}
h1, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
header {
    padding: 20px;
    display: flex;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    background-color: var(--accent1-color);
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
figure img{
    width: 100px;
    padding: 5px; 
    border: .2rem solid #ccc;  
}
p {
    padding: 5px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.hero {
    margin: 10px auto;
    position:relative;
}
.hero img {
    width:100%;
    height:auto;
    object-fit:cover;
}
.title {
    position: absolute;
    width: 100%;
    top: 25px;
    padding: 1.65rem;
    opacity: 0.65;
}
article {
    position: absolute;
}
section {
    display: flex;
}
section p{
    padding:25 px;
}
.hero article img {

    float: right;
    position: relative;
    bottom: 140px;
    width: 30%;
    opacity: 1;

}
article p {
    position: relative;
    bottom: 140px;
    background-color: #eee;
    width: 65%;
    opacity:.8;
}

h1 { 
        position:absolute;
        color:#157145;
        background-color: #eee; 
        padding: 1%;
        width: 88%; 
}
h2 { 
    position:absolute;
    font-family: var(--heading-font);
    color:#157145;
    padding: 1%;
    width: 88%; 
}
.sociallinks{
    align-items:flex-end;
    justify-content: flex-end;
}
.sociallinks img{
    width:50px
}

h2 {
    padding: 0rem;
    color:#157145;
    font-size: 1em;
    position: absolute;
    width: 25%;
  
    font: centered;
    padding: .25rem;
    opacity: 0.85;
    background-color: #eee;
}
button{
    margin: 1rem;
    background-color:blueviolet;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2 rem;
}

button:hover {
    background-color:blue;
}
.form-item {
    display: grid;
    align-items: canter;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
label, input, button, select, textarea {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label {
    text-align:right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
